body {
    background-image: url('/images/leagueBkRound.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    margin-top: 10px;
    margin-bottom: 60px;
}

.card {
    margin-top: 10px;
}